# Day 1

## **1. BASICS**

### **Examples**

In [ ]:
# 1. Variables
name = "Alice"
age = 13
print("Name:", name, "| Age:", age)

In [ ]:
# 2. Math operations
a = 5
b = 2
print("Addition:", a + b)

In [ ]:
print("Power:", a ** b)

In [ ]:
# 3. Strings
greeting = "Hello"
print(greeting + " " + name)

In [ ]:
# 4. Lists
colors = ["red", "blue", "green"]
print("First color:", colors[0])

In [ ]:
# 5. If statements
if age >= 13:
    print("Teenager")

In [ ]:
# 6. For loop
for color in colors:
    print("Color:", color)

In [ ]:
# 7. While loop
count = 3
while count > 0:
    print("Count:", count)
    count -= 1

In [ ]:
# 8. Functions
def square(n):
    return n * n

print("Square of 4:", square(4))

In [ ]:
# 9. Dictionaries
student = {"name": "Alice", "grade": 7}
print(student["name"])

In [ ]:
# 10. Input (optional)
# user_name = input("Enter your name: ")
# print("Hello", user_name)

## **2. NumPy**
NumPy is the foundation for numerical computing in Python. It provides support for arrays, matrices, and mathematical operations.

In [ ]:
import numpy as np

In [ ]:
# 1. Create array
arr = np.array([1, 2, 3])
print("Array:", arr)

In [ ]:
# 2. Zeros
zeros = np.zeros(3)
print("Zeros:", zeros)

In [ ]:
# 3. Ones
ones = np.ones(4)
print("Ones:", ones)

In [ ]:
# 4. Random numbers
rand = np.random.rand(3)
print("Random:", rand)

In [ ]:
# 5. Array math
a = np.array([2, 4, 6])
b = np.array([1, 2, 3])
print("Sum:", a + b)

In [ ]:
# 6. Mean
print("Mean:", np.mean(a))

In [ ]:
# 7. Max and Min
print("Max:", np.max(a), "| Min:", np.min(a))

In [ ]:
# 8. Indexing
print("First element:", a[0])

In [ ]:
# 9. Slicing
print("First two:", a[:2])

In [ ]:
# 10. Shape
print("Shape:", a.shape)

## 2. ðŸ“Š Pandas Basics

In [ ]:
import pandas as pd

In [ ]:
# 1. Create Series
s = pd.Series([10, 20, 30])
print("Series:\n", s)

In [ ]:
# 2. Create DataFrame
df = pd.DataFrame({"Name": ["Alice", "Bob"], "Age": [13, 14]})
print("DataFrame:\n", df)

In [ ]:
# 3. Access column
print("Names:", df["Name"])

In [ ]:
# 4. Add column
df["Grade"] = [7, 8]
print(df)

In [ ]:
# 5. Filter rows
print("Age > 13:\n", df[df["Age"] > 13])

In [ ]:
# 6. Get row
print("First row:\n", df.iloc[0])

In [ ]:
# 7. Describe stats
print(df.describe())

In [ ]:
# 8. Sort
print("Sorted by age:\n", df.sort_values("Age"))

In [ ]:
# 9. Drop column
df2 = df.drop("Grade", axis=1)
print(df2)

In [ ]:
# 10. Save to CSV (optional)
# df.to_csv("students.csv", index=False)

In [ ]:
print("Welcome to Python for Earth Observations!")

In [ ]:
# Variables and data types
student_name = "Satellite Explorer"  # This is a string
student_age = 14                     # This is an integer
earth_radius_km = 6371.0             # This is a float (decimal)

In [ ]:
print("Your name is:", student_name)
print("Your age is:", student_age)
print("The Earth's radius is:", earth_radius_km, "kilometers")

In [ ]:
# Basic math operations
print("\nLet's do some basic calculations:")
length = 5
width = 3
area = length * width
print(f"The area of a rectangle with length {length} and width {width} is: {area} square units")

In [ ]:
# Simple string operations
print("\nString operations:")
planet = "Earth"
print("Our planet is:", planet)
print("Number of letters in", planet, ":", len(planet))
print(planet, "in uppercase:", planet.upper())

In [ ]:
# User input example - comment out for now, uncomment when ready to use
your_name = input("Enter your name: ")
your_age = int(input("Enter your age: "))
print(f"Hello {your_name}, you are {your_age} years old.")

In [ ]:
# Part 2: Introduction to Earth Observation
print("\n\nEarth Observation Basics")
print("------------------------")

In [ ]:
# Information about satellites
satellites = ["MODIS", "Landsat", "Sentinel-2"]
print("Common Earth observation satellites:", satellites)

In [ ]:
# What satellites measure
measurements = {
    "Temperature": "Earth surface temperature",
    "Vegetation": "plant health",
    "Oceans": "Satellites can track ocean color, temperature, and height"
}

In [ ]:
measurements

In [ ]:
print("\nWhat satellites measure:")
for measure, description in measurements.items():
    print(f"- {measure}: {description}")

In [ ]:
# Simple calculation example - temperature conversion
celsius = 25.0  # Example satellite temperature reading in Celsius
fahrenheit = (celsius * 9/5) + 32
print(f"\nA satellite measured {celsius}Â°C, which equals {fahrenheit}Â°F")

print("\nEnd of Day 1 - You've learned Python basics and Earth observation concepts!")

In [ ]:
my_name = "Your Name"
my_age = 13
print(f"My name is {my_name} and I am {my_age} years old.")

<p><font size="6"><b> Introduction to  vector data in Python</b></font></p>

In [ ]:
%matplotlib inline

import pandas as pd
import geopandas

In [ ]:
countries = geopandas.read_file("ne_110m_admin_0_countries.zip")
# or if the archive is unpacked:
# countries = geopandas.read_file("ne_110m_admin_0_countries.shp")

In [ ]:
countries.head()

In [ ]:
countries.plot()

In [ ]:
countries.explore()

What do we observe:

- Using `.head()` we can see the first rows of the dataset, just like we can do with Pandas.
- There is a `geometry` column and the different countries are represented as polygons
- We can use the `.plot()` (matplotlib) or `explore()` (Folium / Leaflet.js) method to quickly get a *basic* visualization of the data

## What's a GeoDataFrame?

We used the GeoPandas library to read in the geospatial data, and this returned us a `GeoDataFrame`:

In [ ]:
type(countries)

A GeoDataFrame contains a tabular, geospatial dataset:

* It has a **'geometry' column** that holds the geometry information (or features in GeoJSON).
* The other columns are the **attributes** (or properties in GeoJSON) that describe each of the geometries

Such a `GeoDataFrame` is just like a pandas `DataFrame`, but with some additional functionality for working with geospatial data:

* A `.geometry` attribute that always returns the column with the geometry information (returning a GeoSeries). The column name itself does not necessarily need to be 'geometry', but it will always be accessible as the `.geometry` attribute.
* It has some extra methods for working with spatial data (area, distance, buffer, intersection, ...), which we will learn in later notebooks

In [ ]:
countries.geometry

In [ ]:
type(countries.geometry)

In [ ]:
# Reproject to an equal-area projection (e.g., EPSG: 6933)
countries_equal_area = countries.to_crs(epsg=6933)

# Compute area in square meters
countries_equal_area['area_m2'] = countries_equal_area.geometry.area

# Optional: convert to square kilometers
countries_equal_area['area_km2'] = countries_equal_area['area_m2'] / 1e6

# View the result
print(countries_equal_area[['NAME', 'area_km2']].head())

**It's still a DataFrame**, so we have all the Pandas functionality available to use on the geospatial dataset, and to do data manipulations with the attributes and geometry information together.

For example, we can calculate average population number over all countries (by accessing the 'pop_est' column, and calling the `mean` method on it):

In [ ]:
countries['POP_EST'].mean()

Or, we can use boolean filtering to select a subset of the dataframe based on a condition:

In [ ]:
africa = countries[countries['CONTINENT'] == 'Africa']

In [ ]:
africa.plot();

<div class="alert alert-info" style="font-size:120%">

**REMEMBER:** <br>

* A `GeoDataFrame` allows to perform typical tabular data analysis together with spatial operations
* A `GeoDataFrame` (or *Feature Collection*) consists of:
    * **Geometries** or **features**: the spatial objects
    * **Attributes** or **properties**: columns with information about each spatial object

</div>