# Day 3

## Part 1. Basics

In [ ]:
# always remember the philosophy of python
import this

### Using enumerate
Sometimes we need to work with both the index and value of the sequence we iterate on. To do that, we can encompass the sequence inside enumerate. That way, each value becomes a tuple of the form (index,value). For example, we are going to use enumerate when stacking raster bands from separate files (see Stacking raster bands), where the for loop requires both:

- the value (file name to read from), and

- the index (index of the raster band to write into).

In [ ]:
fruits = ['Orange', 'Banana', 'Mango', 'Apple']
for i in enumerate(fruits):
    print(i)

In [ ]:
# Here is the last value of i:
i

In [ ]:
for i in enumerate(fruits, start=1):
    print(i)

# The range function
## The range function is used to generate a sequence of values, given:

- start‚ÄîStart value (inclusive), default is 0

- stop‚ÄîStop value (exclusive)

- step‚ÄîStep size, default is 1


The range function is commonly used with for loops (see for loops), to iterate over a sequence of numbers. For example:

In [ ]:
for i in range(5):
    print(i)

In [ ]:
range(5)

In [ ]:
# To ‚Äúforce‚Äù the generation of all values at once, we can wrap the range object inside a list:

list(range(5))

# Part 2. Table reshaping and joins

**We may need to aggregate, or to reshape, tables into a different form, or to combine numerous tables into one. In this chapter, we cover some of the common table operations which involve modifying table structure or combining multiple tables.**
- Combining may simply involve ‚Äúpasting‚Äù, or concatenating, two tables one on top of the other, or side-by-side (see Concatenation).

- In more complex cases, combining involves a table join, where the information from two tables is combined according to one or more ‚Äúkey‚Äù columns which are common to both tables (see Joining tables).

- Moreover, we may need to summarize the values of a table according to a particular grouping, which is known as aggregation (see Aggregation).

- A special type of aggregation is applying a function across each row, or each column, of a table (Row/col-wise operations).

In [ ]:
#Sample data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
name = pd.Series(['abc-Sheva Center', 'abc-Sheva University', 'Dimona'])

In [ ]:
city = pd.Series(['abc-Sheva', 'abc-Sheva', 'Dimona'])

In [ ]:
lines = pd.Series([4, 5, 1])

In [ ]:
piano = pd.Series([False, True, False])

In [ ]:
lon = pd.Series([34.798443, 34.812831, 35.011635])
lat = pd.Series([31.243288, 31.260284, 31.068616])

In [ ]:
d = {'name': name, 'city': city, 'lines': lines, 'piano': piano, 'lon': lon, 'lat': lat}

In [ ]:
stations = pd.DataFrame(d)

In [ ]:
stations

We will also load the sample climatic data which we are also familiar with from the previous chapter (Reading from file), into a DataFrame named dat:

In [ ]:
# The file named ZonAnn.Ts+dSST.csv, which contains global temperature data from GISS. The values are anomalies, i.e. deviations from the corresponding 1951-1980 mean, for the period 1880-2021 ("Year"), both globally ("Glob") and for specific latitudes ("NHem"=Nothern Hemishpere, "24N-90N" latitudes 24-90, etc.):

In [ ]:
dat = pd.read_csv('ZonAnn.Ts+dSST.csv')
dat

DataFrame properties
Overview
One of the first things we may want to do with a DataFrame imported from a file is to examine its properties, as shown in the next few sections:

- DataFrame dimensions

- DataFrame column names

- DataFrame column types

In [ ]:
# DataFrame dimensions

In [ ]:
dat.shape

In [ ]:
# DataFrame column names

In [ ]:
dat.columns

## DataFrame column types
The data types (see Data types) of the columns are contained in the dtypes property:

In [ ]:
dat.dtypes

In [ ]:
dat.dtypes.loc['Year']

In [ ]:
# the "Glob" column (global temperature anomaly) was imported into a float64 column:

dat.dtypes.loc['Glob']

## Renaming columns

Sometimes it is necessary to rename DataFrame columns. For example, we may wish to use shorter names which are easier to type, or make the columns match another table we are working with. Columns can be renamed using the .rename method, which accepts a columns argument of the form {'old_name':'new_name',...}. For example, here is how we can replace the 'Year' column name with lowercase 'year':

In [ ]:
dat.rename(columns={'Year': 'year'})

# using the index parameter of pd.Series:
- .loc‚ÄîFor subsetting using the Series index

- .iloc‚ÄîFor subsetting using the (implicit) numpy index

In [ ]:
s = pd.Series([11, 12, 13, 14], index=['a', 'b', 'c', 'd'])
s

In [ ]:
# Here is how we can use .loc to select values using the three above-mentioned types of indices:

In [ ]:
s.loc['a']         ## Individual index

In [ ]:
s.loc['b':'c']     ## Slice

In [ ]:
s.loc[['a', 'c']]  ## 'list' of indices

In [ ]:
# And here is how we can use .iloc to select values using numpy-style numeric indices

In [ ]:
s.iloc[0]       ## Individual index

In [ ]:
s.iloc[1:2]     ## Slice

In [ ]:
s.iloc[[0, 2]]  ## 'list' of indices

In [ ]:
# For example, this is how we can use .loc to extract one DataFrame column as a Series:

In [ ]:
dat.loc[:, 'Glob']

In [ ]:
#  here is how we can extract a single column as a DataFrame:
dat.loc[:, ['Glob']]

In [ ]:
# We can pass a list of column names to select more then one column. For example:

dat[['Year', 'Glob', 'NHem', 'SHem']]

In [ ]:
# To select all columns except for the specified ones, we can use the .drop method combined with axis=1:

In [ ]:
dat.drop(['Year', 'Glob', 'NHem', 'SHem', '24N-90N', '24S-24N', '90S-24S'], axis=1)
dat

### Another useful technique is to use .loc combined with slices of column names. For example, we can select all columns between two specified ones:

In [ ]:
dat.loc[:, 'Year':'SHem']

In [ ]:
dat.loc[:, :'SHem']

In [ ]:
dat.loc[:, 'SHem':]

### Selecting DataFrame rows

In [ ]:
dat.iloc[[0], :]     ## 1st row

In [ ]:
dat.iloc[0:3, :]     ## 1st row (inclusive) to 4th row (exclusive)

In [ ]:
dat.iloc[[0, 2], :]  ## 1st and 3rd rows

In [ ]:
# Selecting rows and columns

In [ ]:
dat.iloc[0:4, 0:4]

In [ ]:
dat.loc[:, 'Year':'SHem'].iloc[0:4, :]

### Selecting DataFrame values
` Using the above-mentioned methods, we can access individual values from a DataFrame in several ways. The clearest syntax is probably splitting the operation into two parts: first selecting the column, then selecting the index within the column. For example, here is how we can get the first value in the "Year" column of dat`

In [ ]:
dat['Year'].iloc[0]

In [ ]:
# Plotting (pandas)
# Histograms (pandas)
# pandas has several methods to visualize the information in a Series or a DataFrame

In [ ]:
dat[['Glob', 'SHem', 'NHem']].hist();

In [ ]:
# Line plots (pandas)
dat['Glob'].plot();

In [ ]:
dat.set_index('Year')['Glob'].plot();

When we plot a DataFrame with more than one column, the columns are plotted as sepatate series in the same line plot. This is useful to compare the values in different columns. Fore example, plotting the "Glob", "NHem", and "SHem" columns demonstrates that in recent years Northern Hemisphere ("NHem") temperatures have been relatively higher, while Southern Hemisphere ("SHem") temperatures have been relatively lower, compared to the global average ("Glob"):

In [ ]:
dat.set_index('Year')[['Glob', 'NHem', 'SHem']].plot();

### Scatterplots (pandas)
### One more useful type of plot is a scatterplot, where we display the association between two series in the form of scattered points.

In [ ]:
dat.plot.scatter(x='NHem', y='SHem');

In [ ]:
# Operators and summary functions can be applied to Series objects

In [ ]:
dat['Year'].min()

In [ ]:
dat['Year'].max()

In [ ]:
dat['Glob'].mean()

In [ ]:
dat['Year'] - 1

In [ ]:
# here is how we can calculate the yearly differences between the Northern Hemisphere and Southern Hemisphere temperature anomalies:

dat['NHem'] - dat['SHem']

In [ ]:
dat - 10

In [ ]:
# Creating new columns

In [ ]:
dat['diff'] = dat['NHem'] - dat['SHem']
dat

In [ ]:
dat.set_index('Year')['diff'].plot();

In [ ]:
# We can also assign an expression that combines series with individual values:
dat['NHem2'] = dat['NHem'] * 2
dat

In [ ]:
dat['variable'] = 'temperature'
dat

In [ ]:
# Let us delete the 'diff', 'NHem2', 'variable' columns we just created to get the original version of dat:

dat = dat.drop(['diff', 'NHem2', 'variable'], axis=1)
dat

### Working with missing data (pandas)

Missing values, denoting that the true value is unknown, are an inevitable feature of real-world data. In plain-text formats, such as CSV, missing values are commonly just ‚Äúmissing‚Äù, i.e., left blank, or marked with a labels such as the text "NA".

In [ ]:
pd.Series([7, 4, 3])

In [ ]:
pd.Series([7, np.nan, 3]
         )

In [ ]:
pd.Series([7, None, 3]
         )

In [ ]:
pd.Series([7, None, 3]
         ).isna()

In [ ]:
pd.Series([7, None, 3]
         ).isna()

In [ ]:
~pd.Series([7, None, 3]
         ).isna()

In [ ]:
pd.Series([7, None, 3]).dropna()

In [ ]:
pd.Series([7, None, 3]).sum()

# Part 2 

# üß≠ GeoPandas Tutorial

## Map Projections

- **Map Projections** (using `geopandas` and `geodatasets`)
- **Spatial Relationships** (using only in-code geometries)

In [ ]:
# üó∫Ô∏è Part 1: Map Projections (with `geopandas` + `geodatasets`)

# üì¶ Prerequisites


import geopandas as gpd
import geodatasets
import matplotlib.pyplot as plt

In [ ]:

# Path to your shapefile (make sure it's correct)
shapefile_path = "ne_110m_admin_0_countries.shp"

# Load the shapefile into a GeoDataFrame
gdf = gpd.read_file(shapefile_path)

# Display the first few rows of the GeoDataFrame to inspect the data
print(gdf.head())

# Check the CRS of the GeoDataFrame
print("CRS of the dataset:", gdf.crs)

In [ ]:
# 2: Reproject to UTM Zone 33N (EPSG:32633)
import geopandas as gpd
import matplotlib.pyplot as plt

# Path to your shapefile (replace with your actual path)
shapefile_path = "ne_110m_admin_0_countries.shp"

# Load the shapefile into a GeoDataFrame
gdf = gpd.read_file(shapefile_path)

# Reproject the GeoDataFrame to UTM Zone 33N (EPSG:32633)
gdf_utm = gdf.to_crs(epsg=32633)

In [ ]:
# Create a figure with two subplots (side by side)
fig, ax = plt.subplots(1, 2, figsize=(14, 7))

# Plot the original CRS (EPSG:4326)
gdf.plot(ax=ax[0], color='lightgreen')
ax[0].set_title('Original: EPSG 4326 (WGS84)')

# Plot the reprojected CRS (EPSG:32633)
gdf_utm.plot(ax=ax[1], color='skyblue')
ax[1].set_title('Reprojected: EPSG 32633 (UTM Zone 33N)')

In [ ]:
# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
import geodatasets

# Print all available dataset names
print(geodatasets.data)

In [ ]:
# 3: Plot Map in Two Projections

# Path to your shapefile (replace with your actual path)
shapefile_path = "ne_110m_admin_0_countries.shp"

# Load the shapefile into a GeoDataFrame
world = gpd.read_file(shapefile_path)

world_mercator = world.to_crs(epsg=3857)

fig, ax = plt.subplots(1, 2, figsize=(12, 6))
world.plot(ax=ax[0], color='lightgreen')
ax[0].set_title('Original: EPSG 4326')

world_mercator.plot(ax=ax[1], color='skyblue')
ax[1].set_title('Reprojected: EPSG 3857')

plt.show()

In [ ]:
# 4: Calculate Area After Reprojection
world_proj = world.to_crs(epsg=3857)
world_proj["area_m2"] = world_proj.geometry.area

In [ ]:
print(world_proj[['NAME', 'area_m2']].sort_values(by='area_m2', ascending=False).head())

In [ ]:
import geopandas as gpd

# Paths to your shapefiles (replace with the actual file paths)
countries_shapefile = "ne_110m_admin_0_countries.shp"
populated_places_shapefile = "ne_110m_populated_places.shp"

# Load both shapefiles into GeoDataFrames
countries_gdf = gpd.read_file(countries_shapefile)
populated_places_gdf = gpd.read_file(populated_places_shapefile)

# Print CRS of both GeoDataFrames
print("Countries CRS:", countries_gdf.crs)
print("Populated Places CRS:", populated_places_gdf.crs)

In [ ]:
# Reproject populated places to match countries CRS if necessary
if populated_places_gdf.crs != countries_gdf.crs:
    populated_places_gdf = populated_places_gdf.to_crs(countries_gdf.crs)

# Print the CRS again to confirm
print("Reprojected Populated Places CRS:", populated_places_gdf.crs)

## Spatial Relationship

A spatial join uses binary predicates such as intersects and crosses to combine two GeoDataFrames based on the spatial relationship between their geometries.

**Spatial objects such as points, lines and polygons, may have one or more topological relationships such as contains, overlap, within, touches. The Python package Shapely, included in GeoPandas, implements such functions for points, lines and polygons.**

In [ ]:
from shapely.geometry import Point, Polygon

In [ ]:
# within ‚Äì Point Inside Polygon

point = Point(1, 1)
polygon = Polygon([(0, 0), (0, 2), (2, 2), (2, 0)])

print(point.within(polygon))  # True

In [ ]:
# intersects ‚Äì Polygons Overlapping
poly1 = Polygon([(0, 0), (0, 2), (2, 2), (2, 0)])
poly2 = Polygon([(1, 1), (1, 3), (3, 3), (3, 1)])

print(poly1.intersects(poly2))  # True

In [ ]:
# touches ‚Äì Polygons Touching Edges
poly1 = Polygon([(0, 0), (0, 1), (1, 1), (1, 0)])
poly2 = Polygon([(1, 0), (1, 1), (2, 1), (2, 0)])

print(poly1.touches(poly2))  # True

In [ ]:
# disjoint ‚Äì Shapes Completely Separate
poly1 = Polygon([(0, 0), (0, 1), (1, 1), (1, 0)])
poly2 = Polygon([(2, 2), (2, 3), (3, 3), (3, 2)])

print(poly1.disjoint(poly2))  # True

In [ ]:
# Using GeoDataFrames for Spatial Checks
gdf1 = gpd.GeoDataFrame(geometry=[Polygon([(0, 0), (0, 2), (2, 2), (2, 0)])])
gdf2 = gpd.GeoDataFrame(geometry=[Point(1, 1)])

result = gdf2.geometry[0].within(gdf1.geometry[0])
print(result)  # True

### Spatial Joins
Spatial relations are used to merge two spatial datasets A and B in which each row of A and B contains spatial objects. The merge can be based on one topological relation such as ‚Äúcontains‚Äù, so that if object i of A contains object i of B, the value in one or more columns of B will be added to the object in A. We will not deal with spatial joins here since it‚Äôs an application of the topological relations.

In [ ]:
import pandas as pd
import geopandas

In [ ]:
countries = geopandas.read_file("ne_110m_admin_0_countries.zip")
cities = geopandas.read_file("ne_110m_populated_places.zip")
rivers = geopandas.read_file("ne_50m_rivers_lake_centerlines.zip")

In [ ]:
belgium = countries.loc[countries['NAME'] == 'Belgium', 'geometry'].item()

In [ ]:
paris = cities.loc[cities['NAME'] == 'Paris', 'geometry'].item()
brussels = cities.loc[cities['NAME'] == 'Brussels', 'geometry'].item()

In [ ]:
from shapely.geometry import LineString
line = LineString([paris, brussels])

In [ ]:
geopandas.GeoSeries([belgium, paris, brussels, line]).plot(cmap='tab10')

In [ ]:
brussels.within(belgium)

In [ ]:
belgium.contains(brussels)

In [ ]:
belgium.contains(paris)

In [ ]:
paris.within(belgium)

In [ ]:
belgium.contains(line)

In [ ]:
line.intersects(belgium)

In [ ]:
countries.contains(paris)

In [ ]:
countries[countries.contains(paris)]

In [ ]:
amazon = rivers[rivers['name'] == 'Amazonas'].geometry.item()

In [ ]:
countries[countries.crosses(amazon)]  # or .intersects

# Part 3: Introduction to Satellite Images and NDVI
## This script introduces working with satellite imagery and calculating vegetation indices

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

In [ ]:

print("Welcome to Day 3: Satellite Images and NDVI!")
print("-------------------------------------------")

## Working with Raster Data

In [ ]:
print("\nPart 1: Understanding Satellite Image Bands")
print("------------------------------------------")

### Simulating raster data (normally would use rasterio to read real satellite images)
### We'll create synthetic red and near-infrared (NIR) bands
### In real satellite images, these would be loaded from GeoTIFF files

In [ ]:
# Create a 50x50 image with simulated red and NIR bands
size = 50
np.random.seed(42)  # For results

In [ ]:
# Create a synthetic landscape with forests, water, and urban areas
# Lower red values and higher NIR values indicate healthy vegetation
red_band = np.ones((size, size)) * 0.5  # Base red reflectance
nir_band = np.ones((size, size)) * 0.5  # Base NIR reflectance

In [ ]:
# Add "forest" area (low red, high NIR)
# Trees absorb red light
red_band[10:30, 10:40] = 0.1  

# Trees reflect NIR
nir_band[10:30, 10:40] = 0.8

In [ ]:
# Add "water" area (low in both red and NIR)
red_band[35:45, 5:45] = 0.05
nir_band[35:45, 5:45] = 0.05

In [ ]:
# Add "urban" area (high in both red and NIR)
red_band[5:15, 30:45] = 0.7
nir_band[5:15, 30:45] = 0.6

In [ ]:
# Add some random variation to make it look more natural
red_band += np.random.normal(0, 0.05, (size, size))
nir_band += np.random.normal(0, 0.05, (size, size))

In [ ]:
# Clip values to valid range [0,1]
red_band = np.clip(red_band, 0, 1)
nir_band = np.clip(nir_band, 0, 1)

In [ ]:
print("Displaying satellite image bands...")

In [ ]:
# Display the red band
plt.figure(figsize=(12, 5))

In [ ]:
plt.subplot(1, 3, 1)
plt.imshow(red_band, cmap='Reds')
#plt.colorbar(label='Reflectance')
plt.title('Red Band')
plt.axis('off')

In [ ]:
# Display the NIR band
plt.subplot(1, 3, 2)
plt.imshow(nir_band, cmap='Greens')
#plt.colorbar(label='Reflectance')
plt.title('Near-Infrared (NIR) Band')
plt.axis('off')

In [ ]:
# Create a color composite (RGB-NIR)
rgb = np.zeros((size, size, 3))
rgb[:,:,0] = red_band  # Red channel
rgb[:,:,1] = nir_band  # NIR displayed as green
rgb[:,:,2] = nir_band * 0.5  # Just for visualization

In [ ]:
plt.subplot(1, 3, 3)
plt.imshow(rgb)
plt.title('Color Composite')
plt.axis('off')

In [ ]:
plt.tight_layout()
plt.savefig('satellite_bands.png')
print("Image saved as 'satellite_bands.png'")

In [ ]:
# Part 2: NDVI Calculation

In [ ]:


print("\n\nPart 2: Calculating NDVI (Vegetation Index)")

# Calculate NDVI
 Formula: NDVI = (NIR - Red) / (NIR + Red)
 NDVI ranges from -1 to 1:
 - Values close to 1 indicate dense, healthy vegetation
 - Values around 0 indicate urban areas or bare soil
 - Negative values typically indicate water

# Avoid division by zero

In [ ]:
epsilon = 1e-10  # Small number to prevent division by zero
ndvi = (nir_band - red_band) / (nir_band + red_band + epsilon)

In [ ]:
print(f"NDVI Statistics:")
print(f"Minimum NDVI: {np.min(ndvi):.3f}")
print(f"Maximum NDVI: {np.max(ndvi):.3f}")
print(f"Average NDVI: {np.mean(ndvi):.3f}")

In [ ]:
# Create a custom colormap for NDVI
colors = ['darkblue', 'blue', 'lightblue', 'white', 'yellow', 'green', 'darkgreen']
ndvi_cmap = ListedColormap(colors)

In [ ]:
# Plot the NDVI
plt.figure(figsize=(5, 5))
plt.imshow(ndvi, cmap=ndvi_cmap, vmin=-1, vmax=1)
plt.colorbar(label='NDVI Value')
plt.title('Normalized Difference Vegetation Index (NDVI)')
plt.axis('off')

In [ ]:
plt.savefig('ndvi_map.png')
print("NDVI map saved as 'ndvi_map.png'")

In [ ]:
# Create a simple NDVI classification
ndvi_classes = np.zeros_like(ndvi)
ndvi_classes[ndvi < -0.3] = 0  # Water
ndvi_classes[(ndvi >= -0.3) & (ndvi < 0.2)] = 1  # Urban/soil
ndvi_classes[(ndvi >= 0.2) & (ndvi < 0.5)] = 2  # Sparse vegetation
ndvi_classes[ndvi >= 0.5] = 3  # Dense vegetation

In [ ]:
# Create a discrete colormap for classification
class_cmap = ListedColormap(['blue', 'gray', 'yellowgreen', 'darkgreen'])

In [ ]:
# Plot the NDVI classification
plt.figure(figsize=(10, 8))
plt.imshow(ndvi_classes, cmap=class_cmap, vmin=0, vmax=3)
plt.colorbar(ticks=[0.5, 1.5, 2.5, 3.5], 
             label='Land Cover Type',
             boundaries=[0, 1, 2, 3, 4],
             values=[0, 1, 2, 3])
plt.clim(0, 4)
plt.title('Land Cover Classification from NDVI')
plt.axis('off')

In [ ]:
# Add labels to the colorbar
labels = ['Water', 'Urban/Soil', 'Sparse Vegetation', 'Dense Vegetation']
plt.savefig('landcover_classification.png')
print("Land cover classification saved as 'landcover_classification.png'")

In [ ]:
print("\nEnd of Day 3 - You've learned how to work with spatial data, satellite imagery and calculate NDVI!")